// Global variables

//colors

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$purple: hsl(248, 32%, 49%);
$dark_purple: hsl(249, 10%, 26%);
$light_purple: hsl(246, 25%, 77%);

//Typography

//font

$main: 'Poppins', sans-serif



