body {
font-family: $main;
background-color: $red;
background-image: url(/images/bg-intro-mobile.png);

@media (min-width: 970px){
    background-image: url(/images/bg-intro-desktop.png);
}

}

.main_wrapper{
    max-width: 400px;
    margin: 0 auto;
    padding: 100px 20px 60px 20px;

    @media (min-width: 1024px){
        max-width: 1110px;
        padding: 120px 160px;
    }
}

.flex_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 1024px){
        flex-direction: row;
        
 }

    .left_text{
        margin-bottom: 50px;
        h1{
            color: #ffff;
            text-align: center;
            font-size: 36px;
            padding: 0px 40px;
            margin-bottom: 20px;

        }

        p{
            color: #fff;
            line-height: 1.5;
            font-size: 16px;
            text-align: center;
        }

        @media (min-width:1024px) {
            margin-right: 120px;

            h1{
                text-align: left;
                font-size: 48px;
                padding-left: 0;
            }

            p{
                text-align: left;
                line-height: 1.75;
            }
            
        }

    }

    .right_form_box{
        
        .purple_btn{
            color: #fff;
            background-color: $purple;
            text-align: center;
            line-height: 1.5;
            padding: 15px 80px;
            border-radius: 10px;;
            margin-bottom: 40px;
            box-shadow: 0px 10px 4px -1px rgba(0,0,0,0.25);

        }

        .form_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 5px;

            form{
                padding: 30px;

                input[type=text],
                input[type=email]{
                    padding: 20px 180px 20px 20px;
                    border: 1px solid #dfdfdf;
                    border-radius: 5px;
                    margin-bottom: 15px;
                }

                .button_success{
                    background-color: $green;
                    color: #fff;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    padding: 20px 60px;
                    border: none;
                    border-radius: 5px;
                    box-shadow: 0px 5px 2px rgba(0,0,0,0.25);
                    cursor: pointer;
                    
                }

                p {
                    text-align: center;
                    font-size: 14px;
                    margin: 20px 60px 0px 60px;
                    color: #d3d3d3;

                    span.red{
                        color: $red;
                        cursor: pointer;
                    }

                    @media (min-width: 1024px) {
                        text-align: left;
                        font-size: 10px;
                        margin: 20px 30px 0px 30px;
                    }
                }

                // form error validation 

                input.error {
                    border: 1px solid $red;
                    color: $red;
                    background-image: url('/images/icon-error.svg');
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-position-x: 95%;
                    
                }

                label.error {
                    color: $red;
                    font-size: 14px;
                    float: right;
                    padding-bottom: 10px;
                }
            }
       
        }

        @media (min-width: 1024px){

            .purple_btn {
                padding: 10px;
            }
        }
    }
}